.RecipeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  width: 95%;
}

.RecipeBox.modal-open {
  overflow: hidden;
  position: fixed;
}

@media only screen and (min-width: 1200px) {
  .RecipeBox {
    margin-top: 10%;    
    width: 70%;
  }
}